/* Marker styling */
.circular-marker {
  border-radius: 50%;
  border: 2px solid white;
  width: 16px !important;
  height: 16px !important;
  line-height: 14px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  opacity: 0.9;
  z-index: 100; /* Lower z-index to ensure non-highlighted markers are below */
}

/* Additional styling for highlighted markers */
.circular-marker.highlighted {
  border: 2px solid black; /* Adjust border color for highlighted marker */
  opacity: 1;
  width: 20px !important; /* Important to ensure override */
  height: 20px !important; /* Important to ensure override */
  line-height: 18px;
  font-size: 16px;
  z-index: 1000; /* Higher z-index to ensure highlighted marker is above all others */
}

/* Optional: Adjust Leaflet control button styling */
.leaflet-control-button {
  background: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}

/* Optional: Customize other visual elements */
.fa-location-dot {
  font-size: 24px;
  color: black; /* Adjust the color as needed */
}

.popup-table-container {
  max-width: 300px; /* Adjust the maximum width as per your design */
  overflow: auto; /* Add scrollbar if content overflows */
}

/* CSS for the popup */
.target-county-popup {
  max-width: 250px; /* Set maximum width for the popup */
  font-size: 14px; /* Adjust font size if needed */
  opacity: 0.2;
}






.custom-overlay-container {
  position: fixed; /* Fixed positioning */
  bottom: 10px; /* Adjust position */
  left: 10px; /* Adjust position */
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  z-index: 1000; /* Ensure it's on top */
  width: 250px; /* Adjust width as needed */
}

.custom-overlay {
  font-size: 14px; /* Adjust font size */
}

