/* MapStyles.css */
.circular-marker {
  border-radius: 50%;
  border: 2px solid white;
  width: 16px !important;
  height: 16px !important;
  line-height: 14px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  opacity: 1;
  z-index: 100 !important;
}

/* Additional styling for highlighted markers */
.circular-marker.highlighted{
  border: 2px solid red;
  color: white;
  opacity: 1;
  width: 20px !important; /* Important to ensure override */
  height: 20px !important; /* Important to ensure override */
  line-height: 18px;
  font-size: 16px;
  z-index: 1000 !important;
}

  .leaflet-control-button {
    background: white;
    border: none;
    padding: 5px;
    cursor: pointer;
  }

  .fa-location-dot {
    font-size: 24px;
    color: blueviolet; /* Adjust the color as needed */
    /* transform: translateX(-50%) translateY(-100%); */
    z-index: 1000;
  }
    
  
  
  