.slider-container {
    position: relative;
    width: 100%;
    margin: 20px 0;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 5px;
    padding: 20px 10px;
  }
  
  .playPauseButton {
    position: absolute;
    top: 50%;
    left: 10px; /* Adjust as needed */
    transform: translateY(-40%);
    cursor: pointer;
  }
  
  .slider {
    width: calc(100% - 50px); /* Adjust for the button width and padding */
    height: 8px;
    -webkit-appearance: none;
    appearance: none;
    background: lightgray;
    outline: none;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translateX(-50%);
    z-index: 2;
  }
  
  .slider-label {
    font-size: 14px;
    color: #555;
    font-weight: 500;
    position: absolute;
    top: -5px; /* 5px above the slider thumb */
    text-align: center;
    transform: translateX(100%) translateY(10%);
    pointer-events: none; /* Prevent label from interfering with slider interaction */
  }
  