/* src/App.css */
.App {
height: 100vh;
}

.sidebar {
background-color: white;
overflow-x: hidden;
transition: width 0.3s ease;
width: 0;
height: 100%;
position: fixed;
left: 0;
z-index: 1;
padding-top: 60px; /* Adjust as needed */
box-shadow: 5px 0px 5px rgb(182, 182, 182);
}

.sidebar.visible {
width: 275px; /* Adjust width as needed */
}

.menu-content {
padding: 20px;
}

.menu-toggle {
position: fixed;
left: 10px;
top: 10px;
z-index: 2;
}

.map-container {
padding: 20px;
float: right;
width: 675;
height: 100%;
}

/* Add this CSS to your styles */
.leaflet-popup-content table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .leaflet-popup-content th, .leaflet-popup-content td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .leaflet-popup-content th {
    background-color: #f2f2f2;
    font-weight: bold;
  }

  /* Change icon color */
.fa-cloud-rain {
    color: rgb(20, 149, 192);
    font-size: 18px;
  }

   /* Change icon color */
.fa-thermometer-half {
    color: red;
    font-size: 18px;
  }

  .fa-triangle-exclamation {
    color: red;
    font-size: 18px;
  }

  .menuSection {
    background-color: #ffffff;
    padding: 5px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
    /*box-shadow: 0px 5px 3px grey;*/
    border-radius: 3px;
  }

  .menuOption {
    padding-left: 10px;
  }

  .menuSection p {
    font-weight: bold;
    font-size: 20px;
  }

  input[type="radio"] {
    margin-right: 10px;
  }

  .radioLabel{
    font-weight: 500;
  }

.TimeScaleOption {
  margin-left: 10px;
}

.selectPrompt {
  color: #8f8f8f;
}

.error-message {
  color: red;
  font-weight: 500;
}