/* src/App.css */
.App {
height: 100vh;
}

.sidebar {
background-color: #f0f0f0;
overflow-x: hidden;
transition: width 0.3s ease;
width: 0;
height: 100%;
position: fixed;
left: 0;
z-index: 1;
padding-top: 60px; /* Adjust as needed */
}

.sidebar.visible {
width: 250px; /* Adjust width as needed */
}

.menu-content {
padding: 20px;
}

.menu-toggle {
position: fixed;
left: 10px;
top: 10px;
z-index: 2;
}

.map-container {
padding: 20px;
float: right;
width: 700;
height: 100%;
}

/* Add this CSS to your styles */
.leaflet-popup-content table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .leaflet-popup-content th, .leaflet-popup-content td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .leaflet-popup-content th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  